// .ruler-wraper{
//     width: 100%;
// }
.ruler {
  display: flex;
  height: 40px;
}

ul.ruler li {
  // margin-right: 10px;

  min-width: 2px;
  height: 10px;
  &.first-point {
    position: relative;
    & ul {
      display: flex;

      transform: rotate(180deg);
      & li {
        background-color: rgb(173, 173, 173);
        // background-color: red;
        // width: 2px;
        margin-right: 2px;
      }
      & span {
        position: absolute;
      }
    }
  }
}
.time-indicator {
  display: inline-block;
  font-size: 10px;
  transform: translateX(-45%);
  color: rgb(112, 112, 112);
}
.main-point {
  min-height: 40px;
}
.small-point {
  min-height: 10px;
}
.medium-point {
  min-height: 20px;
}
.high-point {
  min-height: 30px;
}
