.clear-field {
  min-width: 370px;
  background-color: rgb(25, 11, 56);
  transition: all 250ms linear;

  & span {
    display: inline-block;
    color: #fff;
    margin-left: 15px;
    padding: 0 5px;
    border-radius: 10px;
    transition: all 250ms linear;

    &:hover {
      cursor: pointer;
      background-color: rgb(235, 235, 235);
      color: black;
    }
  }
}

.task-box {
  min-width: 1153px;
  background-color: rgb(25, 11, 56);
  transition: all 250ms linear;

  position: relative;

  & > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
  }
}

.task-position {
  height: 25px;
  display: flex;
  transition: all 250ms linear;
}

.open {
  height: 140px;
  transition: all 250ms linear;
}
