table {
  border-collapse: collapse;
}

.number {
  min-width: 20px;
  padding-left: 5px;
  text-align: center;
}

.name {
  min-width: 200px;
  text-align: center;
}

.shift {
  min-width: 150px;
}

.shiftRow {
  min-width: 1152px;
}

thead {
  background-color: transparent;

  & td {
    color: rgb(112, 112, 112);
  }
}

tbody {
  & td {
    border-top: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
  }

  & tr {
    background-color: rgb(216, 216, 216);
  }

  & tr:nth-child(2n) {
    background-color: transparent;
  }
}

.shiftCell {
  min-width: 24px;
  border-left: solid 2px rgb(173, 173, 173);
  &:last-child {
    border-right: solid 2px rgb(173, 173, 173);
  }
}
.workerTask {
  background-color: rgb(171, 173, 11);
  height: 20px;
  // flex-wrap  : nowrap;
  min-width: 91px;
  text-align: center;
  // width: fit-content ;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;

  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  &:hover {
    cursor: grab;
  }
  &:not(:first-child){
    margin-left: 2px;
  }
}
